<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">

	<!-- Define properties (can be reused anywhere in config) -->
	<Properties>
		<!-- Log directory -->
		<Property name="basepath">./logs</Property>
		<!-- Log file name -->
		<Property name="LOG_FILE_NAME">demo-app-automation-log</Property>
		<!-- Log pattern -->
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level
			%logger{36} - %msg%n</Property>
	</Properties>

	<!-- ================== Appenders ================== -->
	<Appenders>

		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!-- Rolling File Appender -->
		<RollingFile name="FileLogger"
			fileName="${basepath}/${LOG_FILE_NAME}.log"
			filePattern="${basepath}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout pattern="${LOG_PATTERN}" />

			<!-- Policies define when to roll -->
			<Policies>
				<!-- Roll every day -->
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- Roll when file exceeds 10 MB -->
				<SizeBasedTriggeringPolicy size="20MB" />
			</Policies>

			<!-- Keep only last 7 rolled files -->
			<DefaultRolloverStrategy max="7" />
		</RollingFile>

	</Appenders>

	<!-- ================== Loggers ================== -->
	<Loggers>
		<Root level="info"> <!--Log Levels: All < Trace < Debug < Info < Warn < Error < Fatal < Off -->
			<AppenderRef ref="FileLogger" />
			<!-- <AppenderRef ref="Console" /> -->
		</Root>
	</Loggers>

</Configuration>
